#containerM{
    display: none;
}

#banner{
    width:100%;
}

#bannerFaixa{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.3%;
    width: 24%;
    margin-left: 19%;
}
#bannerFaixa img{
    width: 18%;
    float: left;
    position: absolute;
    height: 4%;
}
#bannerFaixa h2{
    z-index: 2;
    color: white;
    font-family: Roboto-Thin;
    font-size: 23px;
}
#bannerImg{
    box-shadow: rgba(50, 50, 50, 0.1) 5px 5px 16px;
    min-width: calc(50% - 2rem);
    height: auto;
    display: flex;
    margin-top: 3%;
    width: 26%;
    justify-content: center;
    margin-left: 26%;
}
#bannerCont{
    width: 55%;
    height: 16em;
    margin-top: 2%;
}
#container{
      width: 100%;
}
#content {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    float: left;
    margin-top: 1%;
    width: 100%;
}
#descricao{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#tituloSup{
    margin-top: 1%;
    font-size: 27px;
    margin-left: 22%;
    font-family: Roboto-Regular;
    color: #37975e;
}
#titulo{
    margin-top: 1%;
    font-size: 32px;
    margin-left: 0%;
    float: left;
    font-family: Roboto-Regular;
    color: #37975e;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 3%;
}
#data{
    font-size: 13px;
    margin-left: 82%;
    font-family: Roboto-Thin;
    margin-top: -4%;
}
#subtitulo{
    font-family: Roboto-Thin;
    margin-top: 3.5%;
    font-size: 21px;
    margin-left: 11.2%;
    float: left;
}
#text{
    width: 95%;
    text-align: justify;
    font-size: 18px;
    margin-top: 1%;
    display: flex;
    font-family: Roboto-Regular;
    color: #5c5c5c;
    flex-direction: column;
    align-items: center;
}
#text p{
    width: 60%;
    padding: 2%;
    font-family: Roboto-Regular;
    font-size: 22px;
}
#imgNoticia{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#imgNoticia img{
    width: 26%;
    box-shadow: 2px 1px 12px #383838cc;
}

#titulos{
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}
#hr1{
    width: 38.5%;
    float: left;
    margin-right: 3.5%;
}
#title{
    color: #e3ae54;
    text-align: center;
    font-size: 32px;
    width: 23%;
    font-family: Roboto-Regular;
}
#hr2{
    width: 38.5%;
    float: right;
    margin-left: 3.5%;
}
#noticias{
    width: 79%;
}
#conteudoNoticia{
    display: flex;
    flex-wrap: wrap;
    margin-left: 3%;
    width: 100%;
}
.hrNot{
    width: 68%;
    height: 1%;
    margin: 3% 0%;
    margin-left: 14%;
}
.wrapper {
    width: 48%;
    flex-direction: column;
    display: flex;
    margin: 0% 2% 0% 0%;
}
.faixa{
    float: left;
    width: 8%;
    flex-direction: row;
    align-items: center;
    position: absolute;
    align-content: center;
    display: flex;
    margin-left: 9.75%;
}
.faixa img{
    width: 100%;
    float: left;
    position: absolute;
}
.faixa p{
    color: white;
    font-family: Roboto-Regular;
    font-size: 21px;
    width: 69%;
    z-index: 2;
    margin-left: 22%;
    text-align: center;
    margin-top: 5.6%;
}
a{
    text-decoration: none;
  }
.cont {
    display: flex;
    float: left;
    width: 58%;
    margin-left: 2%;
    flex-direction: column;
  }
.imageB{
    width: 30%;
    float: left;
}  
.cont h5 {
    color: #398e5c;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 2.3%;
    margin-left: 0%;
    font-family: Roboto-regular;
  }
.data{
    color: #636060;
    font-size: 18px;
    width: 100%;
    margin-left: 0%;
    font-family: Roboto-regular;
    margin-top: 2.1%;
    display: flex;
    justify-content: flex-end;
}
.text{
    color: #636060;
    font-size: 17px;
    width: 100%;
    font-family: Roboto-regular;
    margin-left: 0%;
    text-align: justify;
    }