footer{
    font-size: 13px;
    width: 100%;
    flex-direction: column;
    background: #9db73a;
    display: flex;
    margin-top: 3%;
}
#submenu{
    display: flex;
    flex-direction: column;
    float: left;
    flex-wrap: wrap;
    width: 92%;
    margin-left: 4%;
    margin-top: 2%;
}
#submenu a{
    font-family: Roboto-Regular;
    padding: 5% 4%;
    color: #ffffff;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    font-size: 18px;
    text-decoration: none;
}

#redes{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 2.5%;
    margin-top: 7%;
    flex-direction: row;
}
#redes img{
    width: 39%;
    padding: 1% 0%;
    margin-left: 29%;
}
#redes a{
    width: 18%;
}
#imgAdm{
    filter: invert(100%) contrast(100%) brightness(100);
}
#copy{
    text-decoration: none;
    text-align: center;
    font-family: Roboto-Regular;
    font-size: 13px;
    margin-bottom: 3%;
    width: 93%;
    margin-left: 3%;
    color: #ffffff;
}